textarea {
  resize: none;
  height: 200px;
  width: 700px;
  border: none;
  font-size: 25px;
  padding: 10px;
}

p {
  text-align: center;
  font-weight: 400;
}

h2 {
  color: #7f6654;
  text-align: left;
  font-size: 25px;
  font-weight: lighter;
  margin-right: 10px;
}

#back {
  width: 50px;
  float: left;
  margin: 20px;
}

#invite {
  width: 50px;
  float: right;
  margin: 20px;
}

.profile {
  width: 150px !important;
  background-color: #bb9062;
}

.profile-image {
  width: 150px !important;
  height: 150px !important;
}

#pending-invites {
  width: 860px;
}

.cancel-invite {
  width: 70px;
  padding: 5px !important;
  font-size: 10px;
  text-align: center;
}

.cancel-invite:hover {
  background-color: #444 !important;
}
