<!DOCTYPE html>

<html>
  <head>
    <title>Minder</title>
    <% include ./header %>
    <link rel="stylesheet" type="text/css" href="stylesheets/connect.css">
  <body>
    <% include ./navbar %>
    <div class="center-content">
      <div>
        <h2>Connect with <strong><%= user.name %></strong>?</h2>
        <div id="button-container" data-id="<%= connectid %>"class="center-content">
          <div id="back" class="button-submit">Back</div>
          <div id="connect" class="button-submit">Connect</div>
        </div>
      </div>
    <div class="center-content">
      <div>
        <h2>Your Pending Invites (<%= user.pendingInvites.length %>)</h2>
        <div id="pending-invites-container" class="container">

        </div>
      </div>
    </div>
  </body>

  <footer>
    <% include ./footer %>
    <script src="javascripts/connect.js"></script>
  </footer>

</html>
