<!DOCTYPE html>

<html>
  <head>
    <title>Minder</title>
    <% include ./header %>
    <link rel="stylesheet" type="text/css" href="stylesheets/discovery.css">
  </head>
  <body>
    <% include ./navbar %>
    <div id="title-header" class="center-content">
      <input placeholder="Search by name" id="search-bar"></input>
      <div id="search" class="button-submit">SEARCH</div>
    </div>
    <div id="main-container" class="center-content">
      <div class="match-info">
        <h2>Locals</h2>
        <div id='locals-container' class="container">

        </div>
      </div>
      <div class="match-info">
        <h2>Similar Tags</h2>
        <div id="similar-tags-container" class="container">

        </div>
      </div>
      <div class="match-info">
        <h2>Random</h2>
        <div id="randoms-container" class="container">

        </div>
      </div>
    </div>
  </body>

  <footer>
    <% include ./footer %>
    <script src="javascripts/discovery.js"></script>
  </footer>

</html>
