<!DOCTYPE html>

<html>
  <head>
    <title>Minder</title>
    <% include ./header %>
    <link rel="stylesheet" type="text/css" href="stylesheets/messages.css">
  </head>
  <body>
    <% include ./navbar %>
    <div class="center-content">
      <div class="info">
        <div class="center-content">
          <div id="flex-container">
            <ul id="users-container">
              <li>
                <input placeholder="Search by name" id="search" onKeyUp="onSearch(event, this)"></input>
              </li>
            </ul>
            <div id="messages-container">
              <div id="messages">

              </div>
              <div id="messages-input-container">
                <input placeholder="To get started, enter a chat with a connection on the left" id="message-box" onKeyPress="onSend(event, this)"></input>
                <div id="send" class="button-submit">Send</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>

  <footer>
    <% include ./footer %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/messages.js"></script>
  </footer>

</html>
