<ul id="navbar">
  <li><a class="button-submit" href="discovery">Discover</a></li>
  <li><a class="button-submit" href="self-profile">My Profile</a></li>
  <li><a class="button-submit" href="messages">Messages</a></li>
  <li><a class="button-submit" href="connections">Connections</a></li>
  <li><a class="button-submit" href="logout">Logout</a></li>
</ul>

<div id="notification-container">

</div>
