h2 {
  color: #7f6654;
  text-align: left;
  font-size: 30px;
  font-weight: lighter;
  margin: 10px 0px;
}

p {
  text-align: center;
  font-weight: bold;
}

.button {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

.button:hover {
  cursor: pointer;
  color: white;
}

.accept {
  background-color: #61c744;
}

.deny {
  background-color: #ba3730;
}

.cancel {
  background-color: #58b0d9;
}

.pending-request {
}

.pending:hover {
  cursor: pointer;
  color: black;
}

::-webkit-scrollbar {
  display: none;
}
