h2 {
  color: #485e5e;
  text-align: left;
  font-size: 30px;
  font-weight: lighter;
  margin: 10px 0px;
}

p {
  text-align: center;
  font-weight: bold;
}

.profile:hover {
  cursor: auto;
}

.profile-image:hover {
  cursor: pointer;
}
