p {
  text-align: center;
  font-weight: bold;
}

h2 {
  color: #485e5e;
  text-align: left;
  font-size: 25px;
  font-weight: lighter;
  margin-right: 10px;
}

#back {
  margin-right: 10px;
  float: left;
}

#connect {
  margin-left: 10px;
  float: right;
}

#confirmation {
  color: green;
}

.profile:hover {
  cursor: auto;
  color: black;
}

.profile-image:hover {
  cursor: pointer;
}
