input {
  height: 40px;
  width: 705px;
  font-size: 20px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 10px;
  border: 1px solid #658585;
  padding: 5px;
}

#send {
  float: right;
  width: 80px;
  margin-top: 5px;
}

#search {
  width: 240px;
  height: 25px;
  border-radius: 0;
}

.profile-image {
  float: left;
  border-radius: 0px !important;
}

.name-preview {
  text-align: center;
  width: 220px;
  padding: 30px 15px 0px 15px;
  font-size: 15px;
}

.info {
  background-color: white;
  padding: 0px 20px 0px 20px;
  border: 2px solid #739696;
  margin-bottom: 10px;
  width: 1000px;
  box-shadow: 4px 4px 4px #739696;
  margin-top: 30px;
}

#flex-container {
  display: -webkit-flex;
  display: flex;
  width: 1000px;
  height: 550px;
  margin-top: 20px;
}

#users-container {
  width: 300px;
  height: 500px;
  margin: 10px;
}

.users-message {
  display: -webkit-flex;
  display: flex;
  height: 100px;
  width: inherit;
  border: 1px solid #658585;
  margin: 10px 12px 10px 0px;
}

.users-message:hover {
  cursor: pointer;
  background-color: #d1eced;
}

#messages-container {
  width: 750px;
  height: 500px;
  margin: 10px;
}

#messages {
  padding-right: 15px;
  height: 420px;
  width: 700px;
  border: 1px solid #658585;
}

.message-item {
  display: flex;
  width: 100%;
  margin: 5px 0px;
  padding: 5px 10px;
}

.message-sender-name {
  font-weight: bold;
  color: #739696;
  margin-right: 7px;
}

.profile-icon-image {
  height: 50px;
  width: 50px;
}

.message-text {
  display: flex;
  padding: 15px;
  margin: 0px 10px;
  border-radius: 15px;
  background-color: #d1eced;
}

.message-text:hover {
  background-color: #93c4c4;
}

#messages-input-container {
  height: 50px;
  width: 715px;
  margin-top: 10px;
}

#flex-container ul,
#messages {
  margin: 0px;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 600px;
}
