html {
  background-image: url("../images/background.jpg");
  background-position: stretch;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 18px;
  font-weight: lighter;
}

body {
  margin-top: 75px;
}

footer {
  text-align: center;
}

img,
image,
video {
  object-fit: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 30px 0px 0px 10px;
}

li {
  display: inline;
  margin: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

textarea:focus,
input:focus {
  outline: none;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
}

#navbar > li > a {
  box-shadow: 4px 4px 4px #739696;
  margin-right: 5px;
  font-weight: bolder;
}
#navbar > li > a:hover {
  color: black;
  background-color: #b4dbdc;
}

.center-content {
  display: table;
  margin: auto;
}

.button-submit {
  text-align: center;
  margin: 0px 0px 10px 0px;
  padding: 10px;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  background-color: #90bdbd;
}

#notification-container {
  position: fixed;
  display: none; /* Should be display: flex */
  right: 0;
  z-index: 1;
  padding: 5px;
  font-size: 20px;
  border: 1px solid #739696;
  background-color: #cbeaea;
  box-shadow: 4px 4px 4px #739696;
  border-radius: 5px;
  width: 380px;
  height: 100px;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
}

.notification-user-icon {
  height: 100%;
  width: 25%;
}

.notification-user-content {
  text-align: left;
  margin: 0px 20px;
  width: 40%;
  font-size: 16px;
}

.notification-user-buttons {
  width: 35%;
}

.button-submit:hover {
  cursor: pointer;
  color: black;
  background-color: #b4dbdc;
}

.match-info {
  width: 400px;
  margin: 30px 10px;
  float: left;
  padding: 10px 10px 10px 30px;
}

.profile {
  background-color: #90bdbd;
  padding: 10px 10px 0px 10px;
  width: 100px;
  margin: 10px;
  box-shadow: 5px 5px 5px #739696;
  display: inline-block;
}

.profile > p {
  text-align: center;
  font-size: 20px;
  margin: 5px 0px 10px 0px;
}

.profile:hover {
  color: white;
  cursor: pointer;
}

.profile-image {
  height: 100px;
  width: 100px;
}

.button {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

.button:hover {
  cursor: pointer;
  color: white;
}

.accept {
  background-color: #a5e6f7;
}

.deny {
  background-color: #306086;
}

.cancel {
  background-color: #8dcef2;
}

.reply {
  background-color: #63b2df;
}

.close {
  padding: 3px 5px 2px 5px;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
  font-family: arial;
  position: absolute;
  right: 0;
  top: 0;
}

.pending:hover {
  color: black;
}

.container {
  margin: 0px;
  width: 500px;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 450px;
}

#search-container {
  width: 1500px;
  padding-left: 50px;
}

::-webkit-scrollbar {
  display: none;
}
