html {
  background-image: url("../images/background.jpg");
  background-position: stretch;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 18px;
  font-weight: lighter;
}

footer {
  text-align: center;
}

img,
image,
video {
  object-fit: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 30px 0px 0px 10px;
}

li {
  display: inline;
  margin: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

textarea:focus,
input:focus {
  outline: none;
}

.center-content {
  display: table;
  margin: auto;
}

.button-submit {
  text-align: center;
  margin: 0px 0px 10px 0px;
  padding: 10px;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  background-color: #90bdbd;
}

.button-submit:hover {
  background-color: #739696;

  cursor: pointer;
}

.match-info {
  width: 400px;
  margin: 30px 10px;
  float: left;
  padding: 10px 10px 10px 30px;
}

.profile {
  background-color: #90bdbd;
  padding: 10px 10px 0px 10px;
  width: 100px;
  margin: 10px;
  box-shadow: 5px 5px 5px #739696;
  display: inline-block;
}

.profile > p {
  text-align: center;
  font-size: 20px;
  margin: 5px 0px 10px 0px;
}

.profile:hover {
  color: white;
  cursor: pointer;
}

.profile-image {
  height: 100px;
  width: 100px;
}

.button {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

.button:hover {
  cursor: pointer;
  color: white;
}

.accept {
  background-color: #a5e6f7;
}

.deny {
  background-color: #306086;
}

.cancel {
  background-color: #8dcef2;
}

.pending:hover {
  color: black;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  margin: 0px;
  width: 500px;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 450px;
}

#search-container {
  width: 1500px;
  padding-left: 50px;
}
