h2 {
  color: #7f6654;
  text-align: left;
  font-size: 30px;
  font-weight: lighter;
  margin: 10px 0px;
}

p {
  text-align: center;
  font-weight: 400;
}

#search-bar {
  height: 40px;
  width: 500px;
  padding: 5px;
  font-size: 30px;
  float: left;
}

#search {
  height: 33px;
  line-height: 33px;
  font-size: 15px !important;
  text-align: center;
  margin: 0px 20px;
  float: left;
}

#title-header {
  margin-top: 100px;
}
