textarea {
  height: 100px;
  width: 470px;
  resize: none;
  padding: 5px;
  font-size: 20px;
  margin: 5px;
  border: 1px solid #7f6654;
}

input {
  height: 25px;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5px;
  width: 350px;
  border: 1px solid #7f6654;
}

#education h2 {
  display: inline-block;
  margin-right: 20px;
  width: 50px;
}

h1 {
  margin: 20px 0px;
}
p {
  display: inline-block;
  margin-right: 20px;
  width: 50px;
}
