p {
  font-family: sans-serif;
  font-weight: 400;
}

.profile > p {
  text-align: center;
}

h1 {
  color: #7f6654;
  text-align: left;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: lighter;
  margin: 10px 0px;
}

h2 {
  color: #7f6654;
  text-align: left;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: lighter;
  margin-right: 10px;
}

.profile-picture {
  display: table;
  margin: 50px auto 0px auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.info {
  background-color: white;
  padding: 0px 20px 15px 20px;
  border-radius: 20px;
  border: 2px solid #7f6654;
  margin-bottom: 10px;
  width: 500px;
  box-shadow: 4px 4px 4px #7f6654;
}

.tag {
  flex: 1;
  padding: 10px;
  line-height: 50px;
  font-size: 20px;
  border: 2px solid #7f6654;
  border-radius: 10px;
  background-color: white;
}

.split-page {
  width: 545px;
  float: left;
  margin: auto 10px;
}
