<!DOCTYPE html>

<html>
  <head>
    <title>Minder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="stylesheets/discovery.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/reusable.css">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
  </head>
  <body>
    <ul>
      <li><a class="button-submit" href="discovery">Discover</a></li>
      <li><a class="button-submit" href="self-profile">My Profile</a></li>
      <li><a class="button-submit" href="messages">Messages</a></li>
      <li><a class="button-submit" href="discovery">Notifications</a></li>
      <li><a class="button-submit" href="index">Logout</a></li>
    </ul>
    <div id="title-header" class="center-content">
      <input id="search-bar"></input>
      <div id="search" class="button-submit">SEARCH</div>
    </div>
    <div class="center-content">
      <div class="match-info">
            <h2>Locals</h2>
          <div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>

        </div>
      </div>
      <div class="match-info">
            <h2>Similar Tags</h2>
          <div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>

        </div>
      </div>
      <div class="match-info">
            <h2>Random</h2>
          <div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>

        </div>
      </div>
    </div>
  </body>

  <footer>
    <script src="javascripts/discovery.js"></script>
  </footer>

</html>
