<!DOCTYPE html>

<html>
  <head>
    <title>Minder</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="stylesheets/profile.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/reusable.css">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">

    <script src="http://maps.google.com/maps/api/js?libraries=places&key=AIzaSyAp1-GKiZX19UcOZjRaTLlurgboIyS6UT8"
           type="text/javascript"></script>
  </head>

  <body>
    <ul>
      <li><a class="button-submit" href="discovery">Discover</a></li>
      <li><a class="button-submit" href="self-profile">My Profile</a></li>
      <li><a class="button-submit" href="messages">Messages</a></li>
      <li><a class="button-submit" href="discovery">Notifications</a></li>
      <li><a class="button-submit" href="logout">Logout</a></li>
    </ul>
    <img id="profile-picture" src="images/sonia.jpg" />
    <div class="center-content">
      <h1>Sonia Xu</h1>
    </div>
    <div class="center-content">
      <div id="connect" class="button-submit">Connect</div>
    </div>
    <div
    <div class="center-content">
      <div class="split-page">
        <div class="info">
          <h2>Description</h2>
          <div>
            <p>
              Hi!!! I'm Sonia and I'm a recent alumni from the University
              of California, Irvine. Currently, I'm working for Ventura Foods Co.
              located in Brea, CA as an Accounts Receivable Clerk. As you can probably
              tell already, I'm very into numbers.
              So if anyone needs mentoring with anything math/economics/accounting,
              send me a invite! Outside my professional life, I love to sleep and
              go hiking or lifting with my boyfriend. The coolest place we've been
              to would probably have been the Four Mile Trail in Yosemite. We had
              to hitchhike the way back down! By the way, my rates are $100/hr because I'm expensive.
            </p>
          </div>
        </div>
        <div class="info">
          <h2>Education</h2>
          <div>
            <h2>University of California, Irvine -> Graduated 2017</h2>
            <p><strong>Major: </strong>Economics</p>
            <p><strong>Minor: </strong>Accounting</p>
            <p><strong>GPA: </strong>3.40</p>
          </div>
        </div>
      </div>
      <div class="center-content">
        <div class="split-page">
          <div class="info">
            <h2>Tags</h2>
            <span class="tag">Hiking</span>
            <span class="tag">Texting</span>
            <span class="tag">Mirrors</span>
            <span class="tag">Basketball</span>
            <span class="tag">Sleeping</span>
            <span class="tag">Steak</span>

          </div>
          <div class="info">
            <h2>Location</h2>
            <p>
              <strong>Current: </strong>
              <span id="current">La Habra, CA 90683</span>
              <div id="location-map"></div>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="center-content">
      <div class="match-info info">
          <h1>Connections</h1>
          <div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>
            <div class="profile">
              <img class="profile-image" src="images/sonia.jpg">
              <p>Sonia Xu</p>
            </div>
        </div>
      </div>
      <div class="center-content">
        <div class="match-info info">
            <h1>Similar Profiles</h1>
            <div>
              <div class="profile">
                <img class="profile-image" src="images/sonia.jpg">
                <p>Sonia Xu</p>
              </div>
              <div class="profile">
                <img class="profile-image" src="images/sonia.jpg">
                <p>Sonia Xu</p>
              </div>
              <div class="profile">
                <img class="profile-image" src="images/sonia.jpg">
                <p>Sonia Xu</p>
              </div>
              <div class="profile">
                <img class="profile-image" src="images/sonia.jpg">
                <p>Sonia Xu</p>
              </div>
              <div class="profile">
                <img class="profile-image" src="images/sonia.jpg">
                <p>Sonia Xu</p>
              </div>
              <div class="profile">
                <img class="profile-image" src="images/sonia.jpg">
                <p>Sonia Xu</p>
              </div>
          </div>
        </div>
      </div>
  </body>

  <footer>
    <script src="javascripts/user-profile.js"></script>
  </footer>

</html>
