html {
  background-image: url("../assets/books.jpg");
  background-position: stretch;
}

h2 {
  color: #7f6654;
  text-align: left;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: lighter;
  margin-right: 10px;
}
